
#right-rec-words{
    position: absolute;
    width: 392px;
    height: 65px;
    left: 1060px;
    top: 363px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

#form-container form {
    text-align: center;
}

#form-container form div{
    padding-bottom: 5%;
}

#button-container button{
    margin-bottom: 5%;
}